html {
    box-sizing: border-box;
    font-size: 16px;
    width: 1440px;
}
  
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'League Spartan', sans-serif;
    
}
  
ol, ul {
    list-style: none;
}
  


.page-header {
    width: auto;
    height: auto;
    display: flex;
    padding: 104px 133px 168px 133px;
    background-color: #f8f8f8;
    
}
.header-title {
    margin-bottom: 53px;
    font-weight: 300;
    font-size: 24px;
    line-height: 45px;
}
.header-heading {
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;
}
.heading-description {
    display: inline-block;
    width: 575px;
    height: 142px;
    margin-bottom: 61px;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
}
.link {
    width: 278px;
    height: 82px;
    background-color: #161515;
    text-align: center;   
}
.bay-link {
    display: inline-block;
    padding-top: 26px;
    font-weight: 300;
    font-size: 32px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
}
.prise-header {
    display: flex;
}
.prise-link {
    width: 143px;
    height: 82px;
    background-color: #ffffff;
    color: #272727;
    text-align: center;
}
.prise {
    padding-top: 12px;
    display: inline-block;
    font-weight: 300;
    font-size: 32px;
    line-height: 60px;
    background-color: #ffffff;
}
.header-wathes {
    width: 408px;
    height: 720px;
}
.header-image {
    margin-top: -120px;
}
.page-main {
    background-color: #ffffff;
    text-align: center;
    
}
.main-heading {
    margin-top: 43px;
    font-weight: 300;
    font-size: 24px;
    line-height: 45px;
}
.main-heading_1 {
    margin-bottom: 84px;
    font-weight: 400;
    font-size: 72px;
    line-height: 81px;
}
.wraper {
    display: inline-block;
    width: 417px;
    height: 630px;
    background-color: #f8f8f8;
}
.main-wathes {
    margin: 110px 60px 110px 71px;
    width: 286px;
    height: 410px;
}
.main-model {
    margin-top: 67px;
    font-weight: 400;
    font-size: 32px;
}
.main-container {
    display: inline-block;
    width: 531px;
    height: 194px;
}
.model-description {
    margin-top: 17px;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
}
.wraper-model {
    display: inline-block;
    width: 417px;
    height: 630px;
    background-color: #f8f8f8;
}
.main-wathes2 {
    margin: 65px 2px;
    width: 500px;
    height: 500px;
}
.wraper_1 {
    margin-top: 85px;
    display: inline-block;
    width: 496px;
    height: 630px;
    background-color: #f8f8f8;
}
.footer-heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
}
.border {
    text-decoration: underline #707070 1px;
    text-underline-offset: 9px;
}
.footer-description {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
}
.link-detel {
    text-decoration: none;
    color: #BB8B5D;
}